--- 
framework: 
  AdminMode: 1
  ApplicationClass: Taipei
  ApplicationName: Taipei
  ApplicationUUID: C955C92A-511A-11DF-A48C-9BEB499BFDD7
  ConfigFileVersion: 5
  Database: 
    AutoUpgrade: 1
    CheckSchema: 1
    Database: taipei
    Driver: SQLite
    Host: localhost
    Password: ''
    RecordBaseClass: Jifty::DBI::Record::Cachable
    User: ''
    Version: 0.0.1
  DevelMode: 1
  L10N: 
    PoDir: share/po
  LogLevel: INFO
  Mailer: Sendmail
  MailerArgs: []

  Plugins: 
    - AdminUI: {}
    - CompressedCSSandJS: {}
    - ErrorTemplates: {}
    - Halo: {}
    - LetMe: {}
    - OnlineDocs: {}
    - REST: {}
    - SkeletonApp: {}
    - SinglePage: {}
    - SkeletonApp: {}
    - REST: {}
    - ErrorTemplates: {}
    - OnlineDocs: {}
    - User: {}
    - Authentication::Password: {}
    - OpenID: {}
    - ActorMetadata: {}
    - I18N:
        js: 1
  PubSub: 
    Backend: Memcached
    Enable: ~
  SkipAccessControl: 0
  TemplateClass: Taipei::View
  View: 
    Handlers: 
      - Jifty::View::Static::Handler
      - Jifty::View::Declare::Handler
      - Jifty::View::Mason::Handler
  Web: 
    BaseURL: http://localhost
    DataDir: var/mason
    Globals: []

    MasonConfig: 
      autoflush: 0
      default_escape_flags: h
      error_format: text
      error_mode: fatal
    PSGIStatic: 1
    Port: 8888
    ServeStaticFiles: 1
    StaticRoot: share/web/static
    TemplateRoot: share/web/templates
